/* === 全体 === */
body
{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-shadow: 
    0 0 5px #f6f457,
    0 0 10px #f6f457;

    font-size: 20px;
}

hr {

    display: block;
    width: 100%;
    height: 1px;
    background-color: #f6f457;

    box-shadow: 
    0 0 5px #f6f457,
    0 0 10px #f6f457;
    
    border: none;
    margin: 20px 0;
}

.div_gp
{
    display: flex;
    flex-direction: column;
}

input[type="file"]
{
    font-size: 20px;
    border: 2px solid #ffffff;
    width: 500px;
    height: 40px;
}


/* === 動画プレイヤー側 === */
#video
{
    max-width: 1200px;
    width: 100%;
    height: auto;

    border: 2px solid #ffffff;
    margin: 5px;
}



/* === 音楽プレイヤー側 === */

nav a {
    color: white;
}

/* トップメニュー */
#top_menu
{
    display: flex;
    gap: 20px;
}

#function_drawArea
{
    display: flex;
    flex-direction: row;

    gap: 10px;
}
#waveform
{
    margin-top: 30px;
}
#waveArea
{
    width: fit-content;

    border: 2px solid #f6f457;
    border-radius: 8px;

    box-shadow:
        0 0 5px #f6f457,
        0 0 10px #f6f457,
        inset 0 0 5px #f6f457;

    padding: 5px;

    /* 背景 */
    background:
        linear-gradient(#f6f45712 1px, transparent 1px),
        linear-gradient(90deg, #f6f45712 1px, transparent 1px),
        radial-gradient(circle at center, #f6f45718, transparent 70%),
        #050505;

    background-size:
        20px 20px,
        20px 20px,
        100% 100%,
        auto;
}

/* ボタンクラス */
.button
{
    width: 150px;
    height: auto;

    background-color: #2f2f2f;

    font-size: 20px;
    color: #ffffff;

    transition: 0.3s;
}
.button:active
{
    scale: 0.9;
}

/* 画像アイコン */
.buttonIcon
{
    width: 50px;
    height: 50px;
    filter: invert(83%) sepia(90%) saturate(500%)
            hue-rotate(5deg) brightness(110%);

    transition: 0.3s;
}
.buttonIcon:active
{
    width: 50px;
    height: 50px;
    filter: invert(83%) sepia(90%) saturate(500%)
            hue-rotate(5deg) brightness(110%);
    transform: scale(0.9);
}

.buttonIcon_repeat
{
    width: 50px;
    height: 50px;
    filter: invert(83%) sepia(90%) saturate(500%)
            hue-rotate(5deg) brightness(110%);

}
.buttonIcon_repeat_anim
{
    animation: repeatAnim 1.5s infinite;
}
@keyframes repeatAnim
{
    0% 
    {
        transform: rotate(0deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}



/* 再生中の曲名 */
#musicName
{
    font-size: 30px;
    text-decoration: underline;
}


/* プレイヤー */
#audio
{
    width: 700px;
}

/* 機能セット */
#function_set
{
    width: fit-content;
    display: flex;
    flex-direction: row;
    
    align-items: center;

    gap: 30px;

    background-color: #0f0f0f;
}

.functionIcon {
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(77%) sepia(96%) saturate(1000%) hue-rotate(1deg);

    display: none;
}

/* プレイリストの背景 */
#playList_fieldset
{
    /* 模様：グリッド */
    background-image: linear-gradient(#bacde015 1px, transparent 1px),
    linear-gradient(90deg, #bacde015 1px, transparent 1px);
    background-size: 30px 30px;
}

/* それぞれのリストの曲 */
.music_item
{
    margin: 4px;
    transition: 0.3s;
}
.music_item:hover
{
    background-color: #ffffff5a;
}

/* 再生中の曲をハイライト */
.playing
{
    animation: musicAnim 1.2s infinite;
}

@keyframes musicAnim
{
    0%
    {
        background-color: transparent;
    }

    50%
    {
        background-color: #f6f357ab;
    }

    100%
    {
        background-color: transparent;
    }
}


@media (max-width: 1650px)
{
    #function_drawArea
    {
        flex-direction: column;
    }

    #function_drawArea > div
    {
        order: -1;
    }

    #waveform
    {
        margin-top: 0;
        margin-left: 0;
        width: 550px;
    }
}